@tailwind base;
@tailwind components;
@tailwind utilities;

/* Where we define our golbal variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* override the current color scheem if the user is on dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
